# macOS
.DS_Store

# Logs
*.log

# Temporary files
*.tmp
*.swp

# IDE configuration
.vscode/
.idea/

# Python virtual environments
.venv/
venv/
env/

# Python cache
__pycache__/

# Data
zb_pset/data/sp500.pkl