# macOS
.DS_Store

# Logs
*.log

# Temporary files
*.tmp
*.swp

# IDE configuration
.vscode/
.idea/

# Python virtual environments
.venv/
venv/
env/

# Python cache
__pycache__/

# Data
zb_pset/data/statement_PDFs
zb_pset/data/fomc statement times pre 2011 with urls.csv
zb_pset/data/pdf_fomcs.csv
zb_pset/data/all_fomcs_urls.csv
zb_pset/data/all_fomc_urls.csv


zb_pset/writeup/writeup.aux
zb_pset/writeup/writeup.bbl
zb_pset/writeup/writeup.bcf
zb_pset/writeup/writeup.blg
zb_pset/writeup/writeup.fdb_latexmk
zb_pset/writeup/writeup.fls
zb_pset/writeup/writeup.log
zb_pset/writeup/writeup.out
zb_pset/writeup/writeup.run.xml
zb_pset/writeup/writeup.synctex.gz
zb_pset/writeup/writeup.toc
zb_pset/writeup/writeup.xdv

zb_pset/notes/notes.aux
zb_pset/notes/notes.bbl
zb_pset/notes/notes.bcf
zb_pset/notes/notes.fdb_latexmk
zb_pset/notes/notes.fls
zb_pset/notes/notes.log
zb_pset/notes/notes.out
zb_pset/notes/notes.run.xml
zb_pset/notes/notes.synctex.gz
zb_pset/notes/notes.xdv